<p>
  <strong>Title:</strong>
  <%= @estate.title %>
</p>

<p>
  <strong>Type:</strong>
  <%= @estate.type %>
</p>

<p>
  <strong>Modality:</strong>
  <%= @estate.modality %>
</p>

<p>
  <strong>User:</strong>
  <%= @estate.user_id %>
</p>

<p>
  <strong>Price:</strong>
  <%= @estate.price %>
</p>

<p>
  <strong>Currency:</strong>
  <%= @estate.currency %>
</p>

<p>
  <strong>Area:</strong>
  <%= @estate.area %>
</p>

<%= link_to 'Edit', edit_estate_path(@estate) %> |
<%= link_to 'Back', estates_path %>
