<p>
  <strong>Imageable:</strong>
  <%= @image.imageable_id %>
</p>

<p>
  <strong>Imageable type:</strong>
  <%= @image.imageable_type %>
</p>

<p>
  <strong>Img:</strong>
  <%= @image.img %>
</p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
